.a{
	background-color: blueviolet;
	height: 25px;
	width: 50%;
	border: solid;
	border-color: blue;
	border-width: 5px;
	border-top-color: sienna;
	border-bottom-color: seagreen;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}
.b{
	background-color: blueviolet;
	height: 25px;
	width: 70%;
	border: solid;
	border-color: blue;
	border-width: 3px;
	border-top-color: sienna;
	border-bottom-color: seagreen;
	padding: 20px;
	margin: 20px;
	align-content: center;
	text-align: center;
	box-shadow: 10px 10px 10px black;
}
.c{
	font-family: georgia;
	background-color: lightsalmon;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	align-content: center;
	text-align: center;
}