h1{
	text-align: center;
	background-color: lightseagreen;
	color: darkred;
}
table{
	background-color: lightblue;
}
#wed{
	background-color: lightpink;
}
#anu{
	background-color: lightcoral;
	text-align: center;
}
.abc{
	background-color: lightsalmon;
}