.a{
	background-color: lightskyblue;
	width: 100%;
	height: 100px;
}
.abc{
	background-color: lightskyblue;
	width: 200px;
	height: 200px;
	border: solid;
	margin: 30px;
	border-color: lightseagreen;
	border-radius: 25px;
	align-content: center;
	text-align: center;
}
.ab{
	background-color: lightblue;
}
.bc{
	height: 100%;
	width: 100%;
	border-radius: 25px;
	border: solid;
	border-color: black;
}
.pqr{
	background-color: lightskyblue;
	width: 200px;
	height: 200px;
	border: solid;
	margin: 30px;
	border-color: lightseagreen;
	border-radius: 25px;
	align-content: center;
	text-align: center;
}
.pq{
	height: 100%;
	width: 100%;
	border-radius: 25px;
	border: solid;
	border-color: black;
}
.xyz{
	background-color: lightskyblue;
	width: 200px;
	height: 200px;
	border: solid;
	margin: 30px;
	border-color: lightseagreen;
	border-radius: 25px;
	align-content: center;
	text-align: center;
}
.xy{
	height: 100%;
	width: 100%;
	border-radius: 25px;
	border: solid;
	border-color: black;
}
.a{
	text-align: center;
	background-color: lightskyblue;
	align-content: center;
}
.kit{
	background-color: lightskyblue;
	width: 200px;
	height: 50px;
	border: solid;
	border-color: lightseagreen;
	border-radius: 25px;
	align-content: center;
	text-align: center;
}